*{
    box-sizing: border-box;
}

body, html{
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 15px;
    line-height: normal;
    font-weight: normal;
    margin: 0;
}

/* Header */

header, main{
    margin: auto;
    max-width: 1440px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
}

.logo{
    text-align: center;
}

.logo img{
    max-width: 70%;
}

.topbar ul{
    display: flex;
    margin: 0;
}

.topbar nav li{
    list-style: none;
    width: 100%;
}

.topbar nav ul a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.topbar nav a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

main h1,h3{
    margin: 15px 0;
}

button{
    padding: 0 10px;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}

form {
    border: 3px solid #f2f2f2;
}


.bloc_search{
    display: flex;
    height: 65px;
    font-size: 100%;
}

.bloc_search i{
    font-size: 18px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.bloc_search form input{
    border: none;
    padding-left: 17px;
    height: 59px;
    width: 100%;
}

input::placeholder {
    color: black;
    font-size: large;
    font-weight: 600 ;
}
  
.mobile_search{
    display: none;
}

.mobile_search i{
    background-color: #0065fc;
    border-radius: 20%;
    font-size: 20px;
}

/* Filtre */ 

.bloc_filtre{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.bloc_filtre2{
    display: flex;
}

.bloc_filtre span{
    font-weight: 900;
}

.filtre{
    display: flex;
    margin: 45px 15px;
    justify-content: center;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    height: auto;
    cursor: pointer;
}

.filtre:hover{
    transform:scale(1.03);
}

.filtre i{
    background-color: #F2F2F2;
    padding: 17px;
    border-radius: 100%;
    color: #0065fc;
}

.filtre span{
    padding: 15px;
    font-weight: 900;
}

.info{
    display: flex;
    align-items: center;
}

.info i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border: 1px solid black;
    border-radius: 100%;
    height: 25px;
    min-width: 25px;
}

.info p{
    padding-left: 25px;
}

/* Main */

.hebergement{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

 /* Hébergement Marseille */

.container_marseille{
    margin-right: 20px;
    background-color:  #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
}
.container_marseille h2{
    padding-left: 20px;
}

.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_marseille{
    background-color: white;
    height: 220px;
    line-height: 15px;
    margin: 7px;
    border-radius: 20px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
    width: 30%;
    padding: 5px;
}

.card_marseille a{
    text-decoration: none;
    color: black;
}

.card_marseille img{
    height: 55%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin-bottom: 10px;
}

.card_marseille:hover{
    transform: scale(1.03);
}

.card_marseille .titre{
    margin: 12px;
    font-weight: bolder;
}

.card_marseille p{
    color: black;
    margin: 12px;
    line-height: 90%;
}

.card_marseille .etoiles{
    margin: 15px 10px;
}

/* Les plus populaires */

.container_popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:  #F2F2F2;
    width: 30%;
    border-radius: 20px;
    padding: 0 20px;
}

.container_popular h2{
    display: flex;
    justify-content: space-between;  
}

.container_popular a{
    text-decoration: none;
    color: black;
    display: flex;
    height: 100%;
}

.card_popular{
    background-color: white;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 5px;
    height: 150px;
    width: 100%;
}

.card_popular img{
    min-width: 33%;
    width: 33%;
    object-fit: cover;
    height: 100%;
    border-radius: 18px 0 0 18px;
}

.text_popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 35px;
}

.text_popular .titre{
    line-height: 115%;
    margin: 10px 0 0;
    font-weight: bolder;
}

.text_popular .etoiles{
  margin-top: auto;
  margin-bottom: 10px;
}
.card_popular:hover{
    transform: scale(1.03);
}

 /* Commun */

.euro{
    color: black;
    font-weight: bold;
}

.star{
    color: #F2F2F2;
}

.etoiles{
    color: #0065fc;
}

.afficher_plus a{
    text-decoration: none;
    color: black;
}
.afficher_plus p{
    padding-left: 20px;
    font-weight: bolder;
}

/* Activités */ 

.activite{
    margin: 75px 0 50px;
}

.container_photo{
    display: flex;
    justify-content: space-between;
}

.container_photo a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.container_photo a .titre{
    font-weight: bolder;
}

.gallery{
    width: 23%;
    background-color: white;
    border-radius: 12px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
}

.gallery:hover{
    transform: scale(1.02);
}

.gallery img{
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 12px 12px 0 0; 
}

.gallery .titre{
    padding: 15px 15px 20px;
}

.double_photo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.double_photo .titre{
    padding: 15px 20px 20px;
}

.fort{
    margin-bottom: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
}

.fort:hover{
    transform: scale(1.02);
}

.fort img{
    object-fit: cover;
    width: 100%;
    height: 180px; 
    border-radius: 12px 12px 0 0;   
}

.ile{
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
}

.ile:hover{
    transform: scale(1.02);
}

.ile img{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-radius: 12px 12px 0 0;  
}

.garde{
    background-color: white;
    border-radius: 12px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
}

.garde:hover{
    transform: scale(1.02);
}

.garde img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0; 
}

.longchamp{
    background-color: white;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, .2);
}

.longchamp:hover{
    transform: scale(1.02);
}

.longchamp img{
    object-fit: cover;
    width: 100%;
    height: 160px; 
    border-radius: 12px 12px 0 0 ; 
}

/* Footer */

footer{
    display: block;
    background-color: #f2f2f2;
    padding: 30px;
    height: 100%;
}

.container_footer{
    display: flex;
    margin: auto;
    max-width: 1440px;
}

.container_footer a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.container_footer a:hover{
    color: #999ca1;
}

.bloc_footer h3{
    padding-left: 5px;
    margin: 20px 0 5px;
}

.bloc_footer{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    margin: 0 15px;
}

/* Responsive */

@media screen and (max-width:992px) and (min-width:768px){

    main{
        max-width: 100%;
        font-size: 14px;
    }

    main h1{
        margin: 15px;
    }

    
    main h3{
        margin: 5px 15px 15px;
    }

    .bloc_search{
        margin: 15px;
    }

    .bloc_filtre {
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
    }

    .filtre{
        margin: 10px 15px;
    }

    .info{
        margin-left: 15px;
    }

    .hebergement {
        flex-direction: column;
    }

    .container_marseille {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .container_popular {
        border-radius: 0;
        width: 100%;
    }

    .card_popular {
        margin: 10px auto;
        width: 90%;
    }

    .activite {
        width: 95%;
        margin: 40px auto;
    }

    footer {
        margin-top: 50px;
    }

    .bloc_footer {
        align-items: center;
    }
  
}
    

@media  screen and (max-width: 767px) {

    main{
        max-width: 100%;
        font-size: 14px;
    }

    main h1{
        margin: 15px;
    }

    
    main h3{
        margin: 5px 15px;
    }
   
    .topbar{
        display: flex;
        flex-direction: column;
    }

    .logo{
        text-align: center;
        margin: auto;
        margin-bottom: 0;
    }

    .topbar .logo img{
        margin: auto;
        max-width: 70%;
        padding: 15px 0 0 50px;
    }

    .topbar nav, nav ul{
        width: 100%;
        padding: 0;
    }

    .topbar nav a{
        border-bottom: 3px solid #F2F2F2;
    }

    .topbar nav li{
        text-align: center;
    }

    .topbar  nav a:hover{
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .bloc_search{
        margin: 15px;
    }

    .bloc_search i{
        height: 60px;
    }

    form {
        width: 250px;
        Height: 60px;
        border-radius: 0 20px 20px 0;
        margin-bottom: 5px;
        }

    .bloc_search form input{
        height: 54px;
    }

    button{
        background-color: white;
        padding: 0;
        height: 60px;
    }
    
    .desktop_search{
        display: none;
    }

    .mobile_search{
        margin: -55px;
        display: inline;
        align-items: center;
    }
    
    .mobile_search i{
        color: white;
        display: flex;
        text-transform: none;
    }

    .bloc_filtre{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }

    .bloc_filtre2 {
        flex-wrap: wrap;
    }

    .filtre{
        margin: 5px;
    }

    .info{
        margin: 5px 15px;
    }

    .hebergement{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    } 
    
    .container_marseille{
        width: 100%;
        background-color: white;
    }

    .card-container{
        display: flex;
        align-items: center;
    }

    .card_marseille{
        width: 100%;
    }
    
    .container_popular{
       width: 100%;
    }

    .card_popular {
        margin-bottom: 15px;
    }

    .container_popular {
        border-radius: 0px;
    }

    .activite{
        padding: 10px;
        margin: 0;
    }

    .activite img{
        height: 180px;
    }

    .container_photo{
        flex-direction: column;
    }

    .gallery{
        width: 100%;
    }

    .double_photo{
        width: 100%;
        margin: 15px 0;
    }

    .container_footer{
        display: flex;
        flex-direction: column;
    }

    .bloc_footer{
        margin: 10px;
    }

}

